/*Estilo para la tabla*/

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #b3923b;
    color: white;
    padding: 10px;
    text-align: left;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #3a3a3a; /* Cambia el color cuando pasas el ratón sobre la fila */
}

td input[type="button"] {
    background-color: #b3923b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

td input[type="button"]:hover {
    background-color: #c4a44b; /* Color al pasar el ratón sobre el botón */
}

/*Estilo para la paginación*/

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination-container button {
    background-color: #b3923b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-container button:disabled {
    background-color: #666;
    cursor: not-allowed;
}

.pagination-container button.active {
    box-shadow: 0 1px 10px var(--accent-color);
}

.pagination-container button:hover:not(:disabled) {
    box-shadow: 0 1px 10px var(--accent-color);
}

.pagination-info {
    margin-left: 15px;
    color: #fff;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    .results-table th, .results-table td {
        padding: 10px;
        font-size: 12px; /* Reducir tamaño de fuente */
    }

    .pagination-container button {
        font-size: 12px;
        padding: 8px 12px; /* Ajustar el botón a pantallas móviles */
    }

    .pagination-info {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .results-table th, .results-table td {
        font-size: 10px; /* Aún más pequeña la fuente en pantallas móviles */
    }

    .pagination-container button {
        font-size: 10px;
        padding: 6px 10px; /* Ajustar el botón a pantallas móviles */
    }

    .pagination-info {
        font-size: 10px;
    }
}
