/*Estilo para los input de tipo number*/

input[type="number"]{
    width: 100%; /* Ocupa el 100% del espacio disponible */
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px; /* Bordes redondeados */
    background-color: #f5f5f5;
    color: #333;
    font-size: 1rem;
    transition: all 0.3s ease; /* Transición suave al hacer hover o focus */
}

input[type="number"]:focus{
    outline: none; /* Elimina el borde predeterminado al hacer focus */
    border-color: #b3923b; /* Cambia el color del borde al hacer focus */
    box-shadow: 0 0 5px rgba(179, 146, 59, 0.5); /* Añade una sombra suave */
}