/*Estilo para los input de tipo number*/

input[type="number"],
select{
    width: 100%;
    max-width: 250px;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #333;
    font-size: 1rem;
    transition: all 0.3s ease;
}

input[type="number"]:focus,
select:focus{
    outline: none;
    border-color: #b3923b;
    box-shadow: 0 0 5px rgba(179, 146, 59, 0.5);
}


