# Dirs
build
node_modules
.husky

# Environent
.env
.env.example

# General
README.md
.npmcheckrc.json
.depcheckrc.json
.prettierrc.json
.gitignore
.gitmodules
.nvmrc
eslint.config.mjs

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Unnecesary Scripts
validator-env-example.ts