.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #1c1613;
    box-shadow: 0 1px 5px rgba(240, 240, 240, 0.25);
    transition: 200ms linear all;
    height: 6vh;
}

.nav-bar:hover {
    box-shadow: 0 1px 10px rgba(255, 255, 255, 0.5);
}

.nav-bar .logo {
    display: flex;
    align-items: center;
}

.nav-bar .logo img {
    height: 6vh;
    aspect-ratio: 91/41;
}

.nav-bar .logo span {
    color: var(--secondary-color);
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 10px;
    user-focus-pointer: none;
    cursor: default;
}

.nav-bar .menu {
    display: flex;
}

.nav-bar .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-bar .menu li {
    margin-right: 20px;
}

.nav-bar .menu a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
}

/*Login en barra de navegación*/
.nav-bar .login {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    font-size: 0.8rem;
}

.nav-bar .login input[type=text], .login input[type=password] {
    width: 150px;
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--body-color);
    color: #fff;
    transition: border-color 0.3s ease;
}

.nav-bar .login input[type=text]:focus, .login input[type=password]:focus {
    border-color: var(--accent-color);
}

.nav-bar .login a {
    color: var(--accent-color);
    text-decoration: none;
    margin-left: 10px;
    z-index: 1000;
}

/* Estilo para las etiquetas */
label {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #fff;
}