.App {
    text-align: center;
    width: 100%;
}

.error-input {
    border: var(--accent-color) dotted 2px !important;
}

/*main section*/

.main-section {
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    background-color: #1c1613;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    color: #fff;
    min-height: 100vh;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/*Tarjetas*/

.scheme {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.scheme:hover {
    transform: translateY(-3px);
    box-shadow: 0 1px 10px rgba(255, 255, 255, 0.5);
}

.scheme img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

thead {
    color: var(--secondary-color)
}

tbody {
    color: #fff;
}

/*Estilo para los input de tipo button*/

input[type="submit"],
input[type="button"] {
    display: inline-block;
    background-color: #b3923b;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    margin: 10px 10px 0 10px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #f0c84a;
    box-shadow: 0 4px 15px rgba(255, 215, 0, 0.6);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.dashboard h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.dashboard p {
    font-size: 1rem;
    line-height: 1.5;
}

/* Estilo para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}

thead th {
    background-color: #b3923b;
    color: white;
    padding: 10px;
    text-align: center;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #3a3a3a; /* Cambia el color cuando pasas el ratón sobre la fila */
}

td input[type="button"] {
    background-color: #b3923b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

td input[type="button"]:hover {
    background-color: #c4a44b; /* Color al pasar el ratón sobre el botón */
}

/*Estilo para la paginación*/

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination-container button {
    background-color: #b3923b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-container button:disabled {
    background-color: #666;
    cursor: not-allowed;
}

.pagination-container button.active {
    box-shadow: 0 1px 10px var(--accent-color);
}

.pagination-container button:hover:not(:disabled) {
    background-color: #f0c84a;
    box-shadow: 0 4px 15px rgba(255, 215, 0, 0.6);
}

.pagination-info {
    margin-left: 15px;
    color: #fff;
}


/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    input[type="button"] {
        font-size: 12px;
        padding: 8px 12px; /* Botones más pequeños en pantallas pequeñas */
    }

    .pagination-container{
        display: block;
    }
}

@media (max-width: 480px) {
    input[type="button"] {
        font-size: 10px;
        padding: 6px 10px; /* Ajustar el botón a pantallas móviles */
    }
}