.match-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #1c1613;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 8px;
    margin: 20px;
}

.teams {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    background-color: #333;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.team img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team h2 {
    font-size: 1.5rem;
    margin: 0;
}

.score {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}

.vs {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 20px;
    color: #ffffff;
}

.highlights {
    width: 100%;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.highlights h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ffffff;
}

.highlights ul {
    list-style: none;
    padding: 20px;
}

.highlights li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.highlights .time {
    font-weight: bold;
    color: #888;
}

.highlights .description {
    color: #000000;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    .team h2{
        font-size: 1rem;
    }

    .highlights h3{
        font-size: 1rem;
    }

    .vs{
        font-size: 1.5rem;
    }

    .score{
        font-size: 1.5rem;
    }

    .team img {
        width: 80px;
        height: auto;
    }

    .highlights li {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .team h2{
        font-size: 0.8rem;
    }

    .highlights h3{
        font-size: 0.8rem;
    }

    .vs{
        font-size: 1rem;
    }

    .score{
        font-size: 1rem;
    }

    .team img {
        width: 50px;
        height: auto;
    }

    .highlights li {
        font-size: 10px;
    }
}