

/* Estilo general para los inputs */
input[type="password"],
input[type="email"]{
    width: 100%; /* Ocupa el 100% del espacio disponible */
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px; /* Bordes redondeados */
    background-color: #f5f5f5;
    color: #333;
    font-size: 1rem;
    transition: all 0.3s ease; /* Transición suave al hacer hover o focus */
}

input[type="password"]:focus,
input[type="email"]:focus{
    outline: none; /* Elimina el borde predeterminado al hacer focus */
    border-color: #b3923b; /* Cambia el color del borde al hacer focus */
    box-shadow: 0 0 5px rgba(179, 146, 59, 0.5); /* Añade una sombra suave */
}

/* Estilo para las etiquetas */
label {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #fff;
    display: block; /* Asegura que las etiquetas estén separadas de los inputs */
}

a {
    color: #b3923b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: #ff4d4d;
    margin-bottom: 15px;
}
