/*Grid Container*/
.dashboard-matches {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.scheme h3 {
    margin-bottom: 10px;
}

.scheme .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.scheme .buttons-container button{
    display: inline-block;
    background-color: #6b5e3e;
    color: #fff;
    border: none;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.scheme .buttons-container button:hover{
    box-shadow: 0 1px 10px var(--accent-color);
    background-color: #8c7a5b;
    transform: translateY(-3px);
}

.scheme .buttons-container button:active {
    transform: translateY(0);
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    .scheme .buttons-container button{
        font-size: 12px;
        padding: 8px 12px; /* Botones más pequeños en pantallas pequeñas */
    }


}

@media (max-width: 480px) {
    .scheme .buttons-container button{
        font-size: 10px;
        padding: 6px 10px; /* Ajustar el botón a pantallas móviles */
    }
}