:root{
  --primary-color: #0e6f99;
  --secondary-color: #eedd82;
  --accent-color: #a40000;
  --body-color: #312621;
  --section-color: #1c1613;
}
body {
  background-color: #333;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  cursor: url('../public/cursor.ico') 0 0, auto;
}

