:root{
  --primary-color: #0e6f99;
  --secondary-color: #eedd82;
  --accent-color: #a40000;
  --body-color: #312621;
  --section-color: #231c18;
}
body {
  background-color: var(--body-color);
  margin: 0;
  font-family: 'Harry P', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 0;
}
